body {
    background: #8b0000;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.title {
    margin: 20px 0;
}

.quiz-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 700px;
    margin: auto;
}

.option {
    background: #ffc107;
    color: black;
    padding: 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.05);
}

.correct {
    background: #2ecc71 !important;
    color: white;
}

.wrong {
    background: #e74c3c !important;
    color: white;
}

button {
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
